secrets.auto.tfvars
*.local.tfvars

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
tfplan
tfplan.*
*.tfplan
tfdestroy

.env
.env.local
.env.*.local

backups/
*.log
.DS_Store
